/* Estilos para el encabezado */
header {
    background-color: #F7DC6F;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    color: #34495E;
    margin-top: 0;
  }
  
  /* Estilos para el formulario */
  form {
    background-color: #ECF0F1;
    padding: 20px;
    margin-top: 20px;
  }
  
  label {
    font-size: 18px;
    color: #34495E;
  }
  
  input[type="text"],
  select {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: #34495E;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #2C3E50;
  }
  
  /* Estilos para la tabla */
  table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #34495E;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #F7DC6F;
  }
  
  tr:nth-child(even) {
    background-color: #ECF0F1;
  }
  
  tr:hover {
    background-color: #D5D8DC;
  }
  